* { outline:0; }

body, html {
	height:100%;
	margin:0;
	padding:0;
}

body { 
	background:#7f928a;
	background:-moz-radial-gradient(center, #7f928a, #45504b);
	background:-webkit-gradient(radial, center center, 120, center center, 800, from(#7f928a), to(#45504b));
}
#content { 
	text-align:center;
	width:600px;
	height:400px;
	margin:0 auto;
	position:absolute;
	left:50%;
	top:40%;
	margin-left:-300px; 
	margin-top:-200px; 
	color:#eee;
}

h1 { 
	font:60px "Lobster", serif;
	text-shadow:#666 4px 4px 0;
}


h1 span { 
	display:inline-block;
	position:relative;
	-webkit-transition:all 0.2s ease-out;
}

h1 span:hover {
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1); 
}

.description { 
	padding:10px 0 30px;
	font:13px "Molengo", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow:#666 1px 1px 0;
	display:block;
}

.char1 { font-size:120px; position:relative; top:10px; left:-10px; }
.char2 { position:relative; top:10px; left:-10px; }
.char3 { position:relative; top:10px; left:-10px; }
.char4 { position:relative; top:10px; left:-10px; }
.char5 { position:relative; top:10px; left:-10px; }
.char6 { position:relative; top:10px; left:-10px; }
.char7 { position:relative; top:10px; left:-10px; }
.char8 { position:relative; top:10px; left:-10px; }
.char9 { position:relative; top:10px; left:-10px; }
.char10 { position:relative; top:10px; left:-10px; }
.char11 { position:relative; top:10px; left:-10px; }
.char12 { position:relative; top:10px; left:-10px; }
.char13 { position:relative; top:10px; left:-10px; }
.char14 { position:relative; top:10px; left:-10px; }


